<% include header.html %>
  
    
<style>
  
  div.bugcreatecontent{
    background-color: #fff;
    height: 1000px;
  }
  
  
  div.bugcreatecontent form{
    padding: 20px;
    
  }

  ul.bugfun{
    background-color:#fff;
    padding: 10px;
  }

</style>

  
    
<div class="container">

  <div class="row">
    <div class="col-md-9 bugcreatecontent">
       <form class="form-horizontal loginform" method="post" action="/bug/create?page=<%=page%>">
         <input type="hidden" name="ZTREE_ID" id="ZTREE_ID">
         <input type="hidden" name="ZPRO_ID" id="ZPRO_ID">
          <div class="form-group">
           <label for="classname">哪个项目</label>
           <div class="row">
             <div class="col-md-6">
               
                <select class="form-control" id="bugtree">
                 <option value="">请选择(必选)</option>
                 <% for(var i=0;i < bugtree.length; i++) { %>
                  <option zid="<%=bugtree[i].ZID%>"  value="<%=bugtree[i].ZPRO_ID%>" haschild="<%=bugtree[i].ZHASCHILD%>" ><%=bugtree[i].ZNAME%></option>
                 <%}%>
                </select>
            </div>
            <div class="col-md-6">
               <select class="form-control" id="subbugtree">
               </select> 
            </div>
            </div>
            

          </div>
          <div class="form-group">
            <label for="bugcontent">标题</label>
            <textarea class="form-control" rows="2" id="ZTITLE" name="ZTITLE"  placeholder="问题简单描述(必填)"></textarea>
          </div>
          
          <div class="form-group">
            <label for="dowho">指派给</label>
            <select class="form-control" id="ZASSIGNEDTO" name="ZASSIGNEDTO" >
              <option></option>
              <% for(var i=0;i < userlist.length; i++) { %>
                <option value="<%=userlist[i].ZID %>"> <%=userlist[i].ZNAME%></option>
              <%}%>
            </select>

          </div>
          
          <div class="form-group">
            <label for="dowho">从指派给</label>
            <select class="form-control" id="ZSUBASSIGNEDTO" name="ZSUBASSIGNEDTO">
              <option></option>
              <% for(var i=0;i < userlist.length; i++) { %>
                <option value="<%=userlist[i].ZID %>"> <%=userlist[i].ZNAME%></option>
              <%}%>
            </select>

          </div>
          
          <div class="form-group">
            <button type="button" id="savetodb" data-loading-text="提交中..." class="btn btn-primary" style="width:100px" autocomplete="off" >保存</button>
            <span class="msgtxt"></span>
          </div>  
        </form>
    </div>

    <div class="col-md-3 ">
      <ul class="list-unstyled bugfun">
        <li><a href="/main?page=<%=page%>">返回列表</a></li>
      </ul>  
    </div>
       
        
  </div>
</div>
  
  
<script src="/lib/jquery-1.12.2.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/sea.js"></script>
<script src="/lib/sea-config.js"></script>

<script>
  
seajs.use(['dialog'],function(dialog){
  
  $(document).ready(function(){
    
    $("#subbugtree").hide();
    $("#bugtree").on('change',function(){
      var selectopt = $(this).find("option:selected");
      if(!selectopt.attr('haschild')){
        $("#subbugtree").empty();
        $("#subbugtree").hide();
        return false
      };
      var that = this;
      $("#subbugtree").empty();
      
      //有下级的情况
      if(selectopt.attr('haschild') =='true'){
        $("#subbugtree").show();
        var opt = $('<option></option>');
        opt.attr('value',selectopt.attr('value'));
        opt.attr('zid',selectopt.attr('zid'));
        opt.attr('pid',selectopt.attr('pid'));
        opt.text(selectopt.text());
        $("#subbugtree").append(opt); 
        
        $.get('/bug/bugtree',{pid:selectopt.attr('ZID')},function(data,status){
          if(status=='success' && data.success == true){
            for(var i=0;i<data.tree.length;i++){
              var opt = $('<option></option>');
              opt.attr('value',data.tree[i].ZPRO_ID);
              opt.attr('zid',data.tree[i].ZID);
              opt.text(data.tree[i].ZNAME);
              $("#subbugtree").append(opt);    
            };
          } 
          else{
            alert('读取二级目录出错。');
          }
        });
        
      }
      else{
        $("#subbugtree").hide();  
      }
    });
    //end change
    
    
    //保存
    $('#savetodb').on('click',function(){
      
      var $btn = $(this).button('loading');
      
      //校对项目是否正常
      var bugtree = $('#bugtree option:selected');
      if(!bugtree.attr('haschild')){
        $btn.button('reset');
        $('span.msgtxt').text('不知你哪个项目。');
        return false;  
      };
      
      //有下级则
      if (bugtree.attr('haschild') == 'true'){
        var subbugtree = $('#subbugtree option:selected');
        if(!subbugtree){
          $btn.button('reset');
          $('span.msgtxt').text('选择项目出错。');
          return false;  
        };
        $('#ZTREE_ID').val(subbugtree.attr('zid'));
        $('#ZPRO_ID').val(subbugtree.attr('value'));
      }
      else{
        $('#ZTREE_ID').val(bugtree.attr('zid'));
        $('#ZPRO_ID').val(bugtree.attr('value'));  
      };
      
      if($('#ZTITLE').val() == ''){
        $btn.button('reset');
        $('span.msgtxt').text('标题不能为空。');
        return false;     
      };
       
      $('form').submit();
      
    });
    
    
  });
  
}); //end seajs
  
  
  
</script>  

<% include footer.html %>
