<!doctype html>
<html>
<head>
    <title>bug系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
</head>
    
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">擎洲开发管理系统</a>
        <ul class="nav navbar-nav">
            <li class="active" id="bug"><a href="javascript:;">BUG管理</a></li>
            <li><a href="#" id="svn" >SVN日志</a></li>
        </ul>
        
   
      </div>
      <div class="navbar-right">
        
        <ul class="nav navbar-nav ">
          <li><a>欢迎，<%=curuser.name%></a></li>
          <li><a href="#"><i class="fa fa-sign-out fa-fw"></i>退出</a></li>
        </ul>
      </div>
    </div>
    </nav>
    
    <% if( typeof msgbox !='undefined' && msgbox[0] && msgbox[0].success == false ) {%>
    <div class="container msgbox">
      <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%=msgbox[0].msg%>
      </div>
    </div>
    <%}%>
<!-- header.html -->