<style>
  
  ul.bugtools{
    background-color:#fff;
    padding: 10px;
  }
  
  li.newbug {
    text-align: center;
  }
  
  ul.bugtools li{
    padding: 5px;
  }
</style>
        
<ul class="list-unstyled bugtools">
  <li class="newbug">
    <a href="/bug/create?page=<%=curpageindex%>" class="btn btn-primary " style="width:150px" role="button">我发现问题</a>
  </li>
</ul>

<ul class="list-unstyled bugtools">
  <li><a href="/">指派给我 <span class="badge"><%=3%></span></a></li>
  <li><a href="/">我创建的</a></li>
  <li><a href="/">邮件有我的</a></li>
</ul>




<script>

</script>