body{
  padding-top: 70px;
  font-family:  "Microsoft YaHei";
  background-color: #e1e1e1;
}

span.msgtxt{
  margin-left: 10px;
  color: red;
}

div.msgbox{
  padding-left: 0px;
}

div.msgbox .alert{
  border-radius: 0px;
}